@model MVCWEB.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "User", FormMethod.Post, new { role = "form", @class = "form formulario" }))
{
    @Html.AntiForgeryToken()

    <h2>Registro de Usuarios</h2>
    <hr />

   <div class="form-group grupoControl">
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        @Html.LabelFor(d => d.nombreUser)
        @Html.TextBoxFor(d => d.nombreUser, new { @class = "form-control form-control-lg" })

    </div>

    <div class="form-group grupoControl">
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        @Html.LabelFor(d => d.email)
        @Html.TextBoxFor(d => d.email, new { @class = "form-control form-control-lg" })
    </div>

    <div class="form-group grupoControl">
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        @Html.LabelFor(d => d.password)
        @Html.PasswordFor(d => d.password, new { @class = "form-control form-control-lg" })

    </div>

    <div class="grupoControl">
        <hr />
        <button  style="width:280px; height:100px;padding:0em" type="submit">Guardar</button>
        <hr />
    </div>
}
